.carouselSimilar {
  display: flex;
  overflow-x: hidden;
  gap: 14px;
  padding: 16px 47px;
  margin-bottom: 20px;
  scrollbar-width: thin;
  scrollbar-color: #ff4a47  rgba(255, 255, 255, 0.1);
}

.carouselSimilar:hover {
  transition: 0.5s ease-in-out;
  overflow-x: auto;
}

.movieCommon {
  flex: 0 0 auto;
  text-align: center;
  position: relative;
  padding: 20px 0;
}

.movieCommon img {
  width: 251px;
  height: 171px;
  border-radius: 12px;
  border: 1px solid #ffffff33;
  box-shadow: 0px 4px 14px 0px #0000004d;
  object-fit: cover;
  cursor: pointer;
  object-position: top;
}

h1 {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 28px;
  line-height: 33.89px;
  color: #fff;
  padding-left: 47px;
}

.headerCarousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.nextMovie {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
  width: 120px;
  padding: 2px;
  border-radius: 40px;
  border: 1px solid #ffffff33;
  backdrop-filter: blur(40px);
  background: #ffffff33;
  margin-right: 47px;
}


.loadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px; /* Adjust height as needed */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #ffffff; /* Change color to match your theme */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingSpinner p {
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff; /* Change color to match your theme */
}

@media (max-width: 768px) {
  .headerCarousel h1 {
    font-size: 18px;
    padding-left: 16px;
  }

  .nextMovie {
    width: 100px;
    font-size: 14px;
    height: 40px;
    margin-right: 16px;
  }
}