.carouselCommon {
    display: flex;
    overflow-x: auto;
    gap: 138px;
    padding: 16px;
  }
  
  .movieCommon {
    flex: 0 0 auto;
    text-align: center;
    position: relative;
    padding-left: 47px;
  }
  
  .movieCommon img {
    position: absolute;
    top: 30%;
    left: 70%;
    width: 138px;
    height: 178px;
    border-radius: 12px;
    border: 1px solid #FFFFFF33;
    box-shadow: 0px 4px 14px 0px #0000004D;
    z-index: 2;
  }
  
  h1 {
      font-family: var(--secondary-font);
      font-weight: 500;
      font-size: 28px;
      line-height: 33.89px;
      color: #fff;
      padding-left: 47px;
  }
